{% extends 'base.html' %}


{% block content %}
customer_list.html

    <br/><br/>    
    <h1>Customer List</h1>
    <br/>


    <a href="{% url 'customer_add' %}" class="btn btn-success">Add Customer</a>
    <br/><br/>

    <table class="table table-striped table-hover table-bordered" >
        <thead class="table-light">
        <tr>
            <th><a href="?sort=name&direction={% if sort == 'name' and direction == 'asc' %}desc{% else %}asc{% endif %}">Name {% if sort == 'name' %} {% if direction == 'asc' %} ↑ {% else %} ↓ {% endif %} {% endif %}</a></th>
            <th><a href="?sort=main_contact&direction={% if sort == 'main_contact' and direction == 'asc' %}desc{% else %}asc{% endif %}">Contact{% if sort == 'main_contact' %} {% if direction == 'asc' %} ↑ {% else %} ↓ {% endif %} {% endif %}</a></th>
            <th><a href="?sort=phone&direction={% if sort == 'phone' and direction == 'asc' %}desc{% else %}asc{% endif %}">Phone</a></th>
            <th><a href="?sort=email&direction={% if sort == 'email' and direction == 'asc' %}desc{% else %}asc{% endif %}">Email{% if sort == 'email' %} {% if direction == 'asc' %} ↑ {% else %} ↓ {% endif %} {% endif %}</a></th>
            <th><a href="?sort=account_manager&direction={% if sort == 'account_manager' and direction == 'asc' %}desc{% else %}asc{% endif %}">Haley Account Manager{% if sort == 'account_manager' %} {% if direction == 'asc' %} ↑ {% else %} ↓ {% endif %} {% endif %}</a></th>
            <th><a href="?sort=status&direction={% if sort == 'status' and direction == 'asc' %}desc{% else %}asc{% endif %}">Status{% if sort == 'status' %} {% if direction == 'asc' %} ↑ {% else %} ↓ {% endif %} {% endif %}</a></th>
            <th><a href="?sort=open_problems&direction={% if sort == 'open_problems' and direction == 'asc' %}desc{% else %}asc{% endif %}">Open{% if sort == 'open_problems' %} {% if direction == 'asc' %} ↑ {% else %} ↓ {% endif %} {% endif %}</a></th>
            <th><a href="?sort=closed_problems&direction={% if sort == 'closed_problems' and direction == 'asc' %}desc{% else %}asc{% endif %}">Closed{% if sort == 'closed_problems' %} {% if direction == 'asc' %} ↑ {% else %} ↓ {% endif %} {% endif %}</a></th>
        </tr>
        </thead>

        <tbody>
            {% for customer in customers %}
            <tr>
            <td><a href="{% url 'customer' customer.id %}">{{ customer.name }}</a></td>
            <td>{{ customer.main_contact }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.account_manager }}</td>
            <td>{{ customer.status }}</td>
            <td>{{ customer.open_problems }}</td>
            <td>{{ customer.closed_problems }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

