{% extends 'base.html' %}


{% block content %}
customer.html

    <br/><br/>    
    <h1>{{ customer.name }}</h1>
    <br/>
    {% if customer.logo %}
    <img src="{{ customer.logo.url }}"  style="max-width:200px; max-height:200px;"/>
    {% endif %}
    <br/><br/>  
    <br/> 

    {% comment %} <strong>Name:</strong> {{ customer.name }}<br/> {% endcomment %}
    <strong>Contact:</strong> {{ customer.main_contact }}<br/>
    <strong>Phone:</strong> {{ customer.phone }}<br/>
    <strong>Email:</strong> {{ customer.email }}<br/>
    <strong>Hayley Account Manager:</strong> {{ customer.account_manager }}<br/>
    <strong>Status:</strong>{{ customer.status }}<br/>
    <strong>Industry:</strong> {{ customer.industry }}<br/>
    <strong>Location:</strong> {{ customer.location }}<br/>
    <strong>Notes:</strong> {{ customer.notes }}<br/>

    <br/><br/>
    <a href="{% url 'customer_edit' customer.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'customer_delete' customer.id %}" class="btn btn-danger">Delete</a>
    
    <br/><br/>
    <a href="{% url 'customers' %}" class="btn btn-outline-primary">Back</a>

    
    <br/><br/>
    {% comment %} <h2>Problem Statements</h2> {% endcomment %}

    {% if problems %}
    <h2>Problem Statements</h2>

    <table class="table table-bordered table-striped">
        <thead class="table-light">
        <tr>
            <th>Problem</th>
            <th>Urgency</th>
            <th>Status</th>
            <th>Action</th>    

        </tr>
        </thead>
        <tbody>
        {% for problem in problems %}
            <tr>
            <td>
            <a href="{% url 'problem' problem.id %}" class="text-decoration-none text-primary">
                {{ problem.title }}
            </a>
            </td>


            <td>{{ problem.urgency }}</td>
            <td>{{ problem.status }}</td>
            <td><a href="{% url 'problem_edit' problem.id %}?next={% url 'customer' customer.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'problem_delete' problem.id %}?next={% url 'customer' customer.id %}" class="btn  btn-danger">Delete</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No problem statements found for this customer.</p>
    {% endif %}

    {% comment %} <a href="{% url 'problem_add' customer.id %}" class="btn btn-primary btn-sm">Add</a> {% endcomment %}
     <a href="{% url 'problem_add_from_customer' customer.id %}" class="btn btn-primary btn-sm">Add Problem</a>


{% endblock %}

